<p id="category_header"><%= meal_category.name %></p>

<div class="meal_category">
  <%- if !meal_category.meals.empty? %>
    <div class="meal">
      <%= render meal_category.meals, not_render: false %>
    </div>
  <% else %>
    <p id="category_text"> Parece que não há nada aqui </p>
  <% end -%>
</div>
