// Place all the styles related to the Backoffice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
    padding: 0 5vw;
}

#header{
    color: #333333;
    font-size: 28px;
    opacity: 0.75;
}
