
.logo {
    font-family: 'Amaranth', sans-serif;
    margin-top: 3vh;
}

body {
    background-image: image-url("sabri-tuzcu-365440.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.side {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    min-height: 100vh;
    float: right;
    padding: 0 4vw;
    overflow-y: auto;
}

form {
    margin-top: 4vh;
    padding-bottom: 3vh;
    border-bottom: 1px solid rgba(0, 0, 0, .2);;
}

.field {
    margin: 2vh 0;
}

input {
    width: 100%;
}

input#user_remember_me {
    width: 0;
}

.actions input {
    color: white;
    background-color: ForestGreen;
    border-color: ForestGreen;
    border-radius: 5%;
    padding: 0;
    margin: 1vh 0;
    width: 100%;
    height: 2em;
}

.links {
    padding-top: 4vh;
}

.links h6{
    margin-bottom: 1em;
}

.links a:link, .links a:visited {
    display: inline-flex;
    justify-content: center;
    color: ForestGreen;
    border: 2px solid ForestGreen;
    border-radius: 5%;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.25em 0;
}

.links a:hover {
    text-decoration: none;
}

div#error_explanation h2 {
    font-size: 1em;
}
